/*---------- STARTRUTA MED BILD ----------*/
.heading-frame {
	background-image: linear-gradient(0deg, rgba(8, 3, 22, 0.80) 0%, rgba(8, 3, 22, 0.80) 100%), url(/Images/stormote.jpg);
	background-position: 100% 80%;
}

.heading-card {
	padding: 4rem clamp(1rem, 10vw, 8rem) 10rem clamp(1rem, 10vw, 8rem);
	max-width: 80%;
}

.heading-card-content > h1 {
	white-space: nowrap;
}

.heading-card-content > h2 {
	color: var(--lt-blue);
	font-size: clamp(5px, 2vw, 20px);
}

/*---------- Motion och nominering ----------*/
/*
* 	Inforuta med två text element.
*/

.motion-card {
	position: relative;
	display: flex;
	background-color: var(--dark-purple);
	border-radius: 10px;
	border: 2px solid var(--border-blue);
	gap: 10%;
	align-items: center;
	justify-content: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	/*margin-top: 10rem;*/
}

.motion-card :global(.info-text) {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	width: 35%;
	gap: 2rem;
}

@media only screen and (max-width: 750px) {
	.heading-card {
		padding: 5rem clamp(1rem, 10vw, 8rem) 8rem clamp(1rem, 10vw, 8rem);
		height: auto;
		max-width: 100%;
		align-items: center;
		justify-content: center;
	}

	.heading-card-content {text-align: center;}

	.heading-card-content > h2 {font-size: clamp(1em, 4vw, 1.5em);}

	.motion-card {
		flex-direction: column;
		gap: 0;
	}

	.motion-card :global(.info-text) {
		width: 80%;
		padding-bottom: 8vh;
	}
}