/*---------- REGLER ----------*/
/*
* Globala regler för hela hemsidan
*/

@charset "UTF-8";

body {
  font-family: 'Poppins';
  margin: 0;
  top: 0;
  line-height: 2;
  width: 100vw;
}

h1 { font-size: 3.75em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.875em; }
h4 { font-size: 1.25em; }

@media only screen and (max-width: 750px) {
  h1 { font-size: 3em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.875em; }
  h4 { font-size: 1.25em; }
}








/*---------- NAVBAR ----------*/
/*
* Menyn som övergår till hamburgarmeny i responsiva läget
*/
.nav-links {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-link1 nav-link2 nav-link3 nav-link4 nav-link5 nav-link6";
  grid-area: nav-links;
  display: inline-grid;
  justify-items: center;
  text-align: center;
  padding: 1rem;
  height: 10vh;
  width: 95vw;
  position: sticky;
}

.nav-links a:link {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-links a:hover { text-decoration: underline 2px solid white; }

.nav-link1 { grid-area: nav-link1; }
.nav-link2 { grid-area: nav-link2; }
.nav-link3 { grid-area: nav-link3; }
.nav-link4 { grid-area: nav-link4; }
.nav-link5 { grid-area: nav-link5; }
.nav-link6 { grid-area: nav-link6; }


@media only screen and (min-width: 750px) {
  .sidepanel, .openbtn { display: none; }
}

@media only screen and (max-width: 750px) {

  .navbar-resp {
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "openbtn . .";
  }

  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 2;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidepanel a:hover { color: #f1f1f1; }

  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .openbtn {
    height: 10vh;
    font-size: 45px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    margin: 0px;
    padding-left: 3vh;
    grid-area: openbtn;
    justify-self: start;
  }

  .nav-links { display: none; }
}






/*---------- FOOTER ----------*/
/*
* Footer innehållande länkar, credits och kontaktuppgifter
*/
.footer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 5vw;
  grid-auto-flow: row;
  grid-template-areas:
    "footer-links footer-credits footer-contact"
    "footer-copyright footer-copyright footer-copyright";
  grid-area: footer;
  background-color: #EBD8BC;
  clip-path: polygon(0 0, 100% 21%, 100% 100%, 0% 100%);
  padding-top: 20vh;
  padding-bottom: 5vh;
}

.footer a, .footer p {
  color: black;
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 2;
}

.footer-credits, .footer-links, .footer-contact { align-self: end; }

.footer-links { grid-area: footer-links; }
.footer-credits { grid-area: footer-credits; }
.footer-contact { grid-area: footer-contact; }

.footer-copyright {
  grid-area: footer-copyright;
  padding-top: 10vh;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .footer {
    grid-template-areas:
      "footer-links"
      "footer-contact"
      "footer-credits"
      "footer-copyright";
  }
}






/*---------- INDEX ----------*/
/*
* Första sidan som innehåller information, sociala medier, kontakt.
*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero-img"
    "about"
    "social-media"
    "contact"
    "footer";
}

.about, .contact {
  margin: 0px 15vw;
  width: 70vw;
}

.about-ntk a{
  color: black;
}

.social-media, .footer {
  padding-left: 15vw;
  padding-right: 15vw;
  width: 70vw;
}

.hero-img {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-links nav-links nav-links nav-links nav-links nav-links"
    ". . . hero-heading hero-heading hero-heading"
    ". . . hero-heading hero-heading hero-heading";
  grid-area: hero-img;
  background: rgba(0, 0, 0, 0.4) url(images/hero.webp) 50%/cover no-repeat;
  height: 85vh;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
  color: white;
  background-blend-mode: darken;
}

.hero-heading {
  grid-area: hero-heading;
  text-align: center;
  padding: 7vh 7vw 0 0;
}

.hero-heading img {
  width: 10vw;
  margin-bottom: 0;
}

.hero-heading h1 {
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}

.hero-heading h4 {
  margin-top: 0;
  font-weight: 500;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 5vh 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about-logos about-text about-text"
    "about-ntk about-ntk about-logo";
  grid-area: about;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.about-text { grid-area: about-text; }

.about-text h2 { color: black; }

.about-logos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5vh 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about-logos-c"
    "about-logos-dv"
    "about-logos-id";
  grid-area: about-logos;
}

.about-logos-c { grid-area: about-logos-c; }
.about-logos-dv { grid-area: about-logos-dv; }
.about-logos-id { grid-area: about-logos-id; }
.about-ntk { grid-area: about-ntk; }

.about-ntk h2 {
  color: black;
}

.about-logo {
  grid-area: about-logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 5vw 5vw;
  grid-auto-flow: row;
  grid-template-areas:
    "social-media-heading social-media-heading"
    "social-media-fb social-media-ig"
    "social-media-discord social-media-hitract";
  grid-area: social-media;
  background-color: #15004F;
  padding-top: 5vh;
  padding-bottom: 15vh;
}

.social-media p, h2, h5, a { color: white; }

.social-media p, a {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.social-media-heading {
  grid-area: social-media-heading;
  text-align: center;
}

.social-media-fb, .social-media-discord { padding-left: 10vw; }
.social-media-hitract, .social-media-ig { padding-right: 10vw; }

.social-media-fb {
  grid-area: social-media-fb;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0fr 0fr;
  gap: 0px 2vw;
  grid-auto-flow: row;
  grid-template-areas:
    "logo-fb fb-heading"
    "logo-fb fb-link";
}
.logo-fb {
  grid-area: logo-fb;
  font-size: 40px;
  color: white;
}
.fb-heading {
  grid-area: fb-heading;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.fb-link { grid-area: fb-link; }


.social-media-ig {
  grid-area: social-media-ig;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0fr 0fr;
  gap: 0px 2vw;
  grid-auto-flow: row;
  grid-template-areas:
    "logo-ig ig-heading"
    "logo-ig ig-link";
}
.logo-ig {
  grid-area: logo-ig;
  font-size: 40px;
  color: white;
}
.ig-heading {
  grid-area: ig-heading;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.ig-link { grid-area: ig-link; }


.social-media-discord {
  grid-area: social-media-discord;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0fr 0fr;
  gap: 0px 2vw;
  grid-auto-flow: row;
  grid-template-areas:
    "logo-discord discord-heading"
    "logo-discord discord-link";
}
.logo-discord {
  grid-area: logo-discord;
  font-size: 40px;
  color: white;
}
.discord-heading {
  grid-area: discord-heading;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.discord-link { grid-area: discord-link; }



.social-media-hitract {
  grid-area: social-media-hitract;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0fr 0fr;
  gap: 0px 2vw;
  grid-auto-flow: row;
  grid-template-areas:
    "logo-hitract hitract-heading"
    "logo-hitract hitract-link";
}

.hitract-heading {
  grid-area: hitract-heading;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.hitract-link { grid-area: hitract-link; }

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5vh 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "contact-text contact-text"
    "contact-company contact-other";
  grid-area: contact;
  text-align: center;
  margin-top: 10vh;
}

.contact-text { grid-area: contact-text; }

.contact-text h2, .contact a, .contact h4 { color: black; }

.contact-company { grid-area: contact-company; }

.contact-company h2, .contact-company h4, .contact-company a {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.contact-other h2, .contact-other h4, .contact-other a {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.contact-other {
  grid-area: contact-other;
}















/*---------- NEWSTUDENTS ----------*/
/*
* Sida för nya studenter som har olika sektioner.
*/
.container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero-img2"
    "description"
    "sections"
    "footer";
}

.hero-img2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-links"
    "hero-heading2";
  grid-area: hero-img2;
  background: url(images/hero-nyastudenter.webp) 50%/cover no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .50);
  height: 85vh;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
  color: white;
}

.hero-heading2 {
  grid-area: hero-heading2;
  text-align: center;
}

.hero-heading2 h1 {
  margin-bottom: 0;
  margin-top: 10;
  line-height: 1;
  text-align: center;
}

.description, .sections {
  margin-left: 15vw;
  margin-right: 15vw;
  width: 70vw;
}

.description {
  grid-area: description;
  margin-bottom: 5vw;
}

.description h2 {
  color: black;
}

.sections {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 10vh;
  margin-top: 5vh;
}

.section-l {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.section-r {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.section-l div:nth-child(even) {
  margin-left: 5vw;
}

.section-r div:nth-child(even) {
  order: 1;
  margin-right: 5vw;
}

.section-r div:nth-child(odd) {
  order: 2;
}

.section-txt a{
  color: black;
}










/*---------- STYRELSE ----------*/
/*
* Styrelsesidan som ska uppdateras varje år. Byt ut bilder och namn. 
*/
.container3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero-img3"
    "members"
    "accordion-content"
    "join"
    "footer";
}

.hero-img3 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-links"
    "hero-heading3";
  grid-area: hero-img3;
  /* background: url(images/StyrelsenPlaceholder.webp) 50%/cover no-repeat; */
  background-color: #15004F;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .50);
  height: 85vh;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
  color: white;
}

.hero-heading3 {
  grid-area: hero-heading3;
  text-align: center;
}

.hero-heading3 h1 {
  margin-bottom: 0;
  margin-top: 10;
  line-height: 1;
  text-align: center;
}

.members {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 5vh 0px;
  grid-template-areas:
    ". . headingmembers headingmembers . ."
    "ordf ordf vice vice sekr sekr"
    "kassor kassor ubu ubu armu armu"
    "infou infou stum stum idego idego"
    ". cego cego dvego dvego .";
  grid-area: members;
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
  width: 70vw;
}

.ordf { grid-area: ordf; }
.vice { grid-area: vice; }
.sekr { grid-area: sekr; }
.kassor { grid-area: kassor; }
.ubu { grid-area: ubu; }
.armu { grid-area: armu; }
.infou { grid-area: infou; }
.stum { grid-area: stum; }
.idego { grid-area: idego; }
.cego { grid-area: cego; }
.dvego { grid-area: dvego; }
.headingmembers { grid-area: headingmembers; }


.members h1, .members h5, .members a {
color: black;
}

.members h5 { font-size: 15px; }
.members h1 { font-size: 50px; }

.members h5, .members p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.join {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15vh;
  grid-gap: 0;
  text-align: center;
  background-color: #15004F;
  height: 90vh;
  padding-left: 25vw;
  padding-right: 25vw;
  margin-bottom: -30vh;
  padding-top: 10vh;
  margin-top: 10vh;
}

.join h2 {
  line-height: normal;
  margin-block-start: 0;
  margin-block-end: 0;
}

.join p { color: white; }


.accordion-content h2, .members h2 {
  color: black;
  text-align: center;
}

.accordion-content {
  max-width: 70vw;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 10vh;
  grid-area: accordion-content;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-bottom: 1px solid #D7D7D7;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.item-header {
  display: flex;
  justify-content: space-between;
  column-gap: 0.2em;
}

.item-icon {
  margin-top: 1rem;
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 35px;
  width: 25px;
  cursor: pointer;
}

.item-icon i {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

.item-question { display: inline-flex; }

.item-question h4 {
  font-size: 1rem;
  font-weight: 500;
}

.emoji { margin-right: 1.5vw; }

.active .item-icon i { transform: rotate(180deg); }

.active .item-question { font-weight: 500; }

.item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.item-answer {
  line-height: 150%;
  opacity: 0.8;
}

.board-img {
    border-radius: 50%;
}




/*---------- DOKUMENT ----------*/
/*
* Dokumentsidan med olika länkar, använd samma drivemapp 
*/
.container4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero-img4"
    "description-links"
    "links"
    "footer";
}

.hero-img4 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-links"
    "hero-heading4";
  grid-area: hero-img4;
  background: url(images/hero-dokument.webp) 50%/cover no-repeat;
  ;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .50);
  height: 85vh;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
  color: white;
}

.description-links{
  grid-area: description-links;
  margin-left: 15vw;
  margin-right: 15vw;
}

.description-links h2{ color: black; }

.hero-heading4 {
  grid-area: hero-heading4;
  text-align: center;
}

.hero-heading4 h1 {
  margin-bottom: 0;
  margin-top: 10;
  line-height: 1;
  text-align: center;
}

.links {
  display: grid;
  grid-template-columns: auto;
  grid-area: links;
  margin-left: 15vw;
  margin-right: 15vw;
}

.links a {
  color: black;
  margin-bottom: 3vh;
}



/*---------- LANBYCS ----------*/
/*
* Lanbycs med information om event
*/
.container5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero-img5"
    "description-lan"
    "countdown"
    "links"
    "footer";
}

.hero-img5 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-links"
    "hero-heading5";
  grid-area: hero-img5;
  background: url(images/hero-lanbycs.webp) 50%/cover no-repeat;
  ;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .50);
  height: 85vh;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
  color: white;
}

.countdown {
  grid-area: countdown;
  text-align: center;
  margin-left: 15vw;
  margin-right: 15vw;
  font-family: 'Poppins';
}

.countdown h2{ color: black; }


/* general styling */


li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  
  font-family: 'Poppins';
}

li span {
  display: block;
  font-size: 4.5rem;
  font-family: 'Poppins';
}

.description-lan{
  grid-area: description-lan;
  margin-left: 15vw;
  margin-right: 15vw;
}

.description-lan h2{ color: black; }

.hero-heading5 {
  grid-area: hero-heading5;
  text-align: center;
}

.hero-heading5 h1 {
  margin-bottom: 0;
  margin-top: 10;
  line-height: 1;
  text-align: center;
}

.links {
  display: grid;
  grid-template-columns: auto;
  grid-area: links;
  margin-left: 15vw;
  margin-right: 15vw;
}

.links a {
  color: black;
  margin-bottom: 3vh;
}

.links h2{
  color: black;
}




/*---------- MOBILVERSION ----------*/
/*
* Responsiva läget för allt innehåll på sidan
*/
@media only screen and (max-width: 750px) {

  .hero-img {
    grid-template-areas:
      "nav-links"
      "hero-heading";
    grid-area: hero-img;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .39)
  }

  .hero-heading {
    text-align: center;
    padding: 0vh 2vw 10vh 2vw;
    padding-right: 0vw;
  }

  .hero-heading img {
    width: 40vw;
    padding-bottom: 5vh;
  }

  .about {
    grid-template-columns: auto;
    grid-template-areas:
      "about-text"
      "about-logos"
      "about-ntk"
      "about-logo";
    margin-top: 0;
    gap: 3vh 0;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .about-logos {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: 0px 2vw;
    grid-template-areas:
      "about-logos-c about-logos-dv about-logos-id";
  }

  .about-logos-c img, .about-logos-dv img, .about-logos-id img {
    max-width: 20vw;
  }

  .about-logos-c, .about-logos-dv, .about-logos-id {
    margin-top: auto;
    margin-bottom: auto;
  }

  .social-media {
    gap: 10vw 5vw;
    grid-template-areas:
      "social-media-heading"
      "social-media-fb"
      "social-media-ig"
      "social-media-discord"
      "social-media-hitract";
    padding-left: 10vw;
    padding-right: 10vw;
    width: 80vw;
  }

  .social-media-heading { grid-area: social-media-heading; }

  .social-media-fb, .social-media-discord { padding-left: 0vw; }
  .social-media-hitract, .social-media-ig { padding-right: 0vw;}

  .social-media-fb, .social-media-discord, .social-media-hitract, .social-media-ig {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .contact {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "contact-text"
      "contact-company"
      "contact-other";
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
  }


  .members {
    grid-template-areas:
      "headingmembers"
      "ordf"
      "vice"
      "sekr"
      "kassor"
      "ubu"
      "armu"
      "infou"
      "stum"
      "idego"
      "cego"
      "dvego";
  }

  .join {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: -40vh;
    padding-bottom: 10vh;
    height: 95vh;
  }

  .join h2 {
    line-height: normal;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .section-l {
    grid-template-columns: 1fr;
  }

  .section-r {
    grid-template-columns: 1fr;
  }

  .section-l div:nth-child(even) {
    margin-left: 0;
  }

  .section-r div:nth-child(even) {
    order: 2;
    margin-right: 0;
  }

  .section-r div:nth-child(odd) {
    order: 1;
  }

  .accordion-content {
    max-width: 80vw;
  }

  .item-question h4 {
    font-size: 0.8rem;
  }

  .sections {
    grid-template-columns: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    justify-content: center;
    align-items: center;
  }

  .sections img {
    max-width: 80vw;
  }

  .description {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
  }

  .hero-heading4 h1 {
    font-size: 45px;
  }

  .hero-img4 {
    grid-template-areas:
      "nav-links"
      "hero-heading4";
  }

  .description-links, .links{
    margin-left: 10vw;
    margin-right: 10vw;
  }

  li {
    font-size: 1.5em;
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
