@charset "UTF-8";
body{
    font-family: 'Poppins';
    margin: 0;
    line-height: 2;
}

h1{ font-size: 60px; }
h2{ font-size: 40px; }
h3{ font-size: 30px; }
h4{ font-size: 20px; }

.hero-img h1, .hero-img2 h1 {
    font-family: 'Raleway';
}

.container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hero-img"
      "about"
      "social-media"
      "contact"
      "footer";
  }

  .about, .contact {
      margin-left: 15vw;
      margin-right: 15vw;
      width: 70vw;
  }
  .social-media, .footer{
    padding-left: 15vw;
      padding-right: 15vw;
      width: 70vw;

  }
  
  .hero-img {  
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-links nav-links nav-links nav-links nav-links nav-links"
      ". . . hero-heading hero-heading hero-heading"
      ". . . hero-heading hero-heading hero-heading";
    grid-area: hero-img;
    background-image: url(/images/hero.png);
    height: 70vh;
    width: 100vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
    color: white;
  }
  
  .hero-heading { 
    grid-area: hero-heading;
    text-align: center; 
    padding-top: 7vh;
    padding-right: 7vw;
}

  .hero-heading img{
    width: 10vw;
    margin-bottom: 0;
  }

  .hero-heading h1{
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
  }
  .hero-heading h4{
    margin-top: 0;
    font-weight: 500;
  }
  
  .nav-links {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-link1 nav-link2 nav-link3 nav-link4 nav-link5 nav-link6";
    grid-area: nav-links;
    display: inline-grid;
    justify-items: center;
    text-align: center;
    padding: 1rem;
  }
  
  .nav-link1 { grid-area: nav-link1; }
  
  .nav-link2 { grid-area: nav-link2; }
  
  .nav-link3 { grid-area: nav-link3; }
  
  .nav-link4 { grid-area: nav-link4; }
  
  .nav-link5 { grid-area: nav-link5; }
  
  .nav-link6 { grid-area: nav-link6; }
  
  
  
  .about {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10vh 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "about-logos about-text about-text"
      "about-ntk about-ntk about-logo";
    grid-area: about;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  
  .about-text { 
    grid-area: about-text; 
  }

  .about-text h2 {
      color: black;
  }
  
  .about-logos {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5vh 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "about-logos-c"
      "about-logos-dv"
      "about-logos-id";
    grid-area: about-logos;
  }
  
  .about-logos-c { grid-area: about-logos-c; }
  
  .about-logos-dv { grid-area: about-logos-dv; }
  
  .about-logos-id { grid-area: about-logos-id; }
  
  .about-ntk { 
    grid-area: about-ntk;}
  
  .about-ntk h2{ 
    color: black;
  }
    
  .about-logo { 
    grid-area: about-logo;
    display: flex;
  justify-content: center;
  align-items: center;
  }
   
  
  .social-media {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "social-media-heading social-media-heading"
      "social-media-fb social-media-ig"
      "social-media-discord social-media-orbi";
    grid-area: social-media;
    background-color: #15004F;
  }

  .social-media p, h2, h5, a{
    color: white;
  }
  
  .social-media-heading { 
    grid-area: social-media-heading; 
    text-align: center;
}

  .social-media-fb, .social-media-ig, .social-media-discord, .social-media-orbi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .social-media-fb { grid-area: social-media-fb; }
  
  .social-media-ig { grid-area: social-media-ig; }
  
  .social-media-discord { grid-area: social-media-discord; }
  
  .social-media-orbi { grid-area: social-media-orbi; }
  
  .contact {  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "contact-text contact-text"
      "contact-company contact-other";
    grid-area: contact;
    text-align: center;
    margin-top: 10vh;
  }
  
  .contact-text { 
      grid-area: contact-text; 
    }

.contact-text h2, .contact a, .contact h4 {
    color: black;
}
  
  .contact-company { grid-area: contact-company; }
  
  .contact-other { grid-area: contact-other; }
  
  .footer {  display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 5vw;
    grid-auto-flow: row;
    grid-template-areas:
      "footer-links footer-credits footer-contact"
      "footer-copyright footer-copyright footer-copyright";
    grid-area: footer;
    background-color: #EBD8BC;
    clip-path: polygon(0 0, 100% 21%, 100% 100%, 0% 100%);
    padding-top: 20vh;
  }

  .footer a{
    color: black;
    
  }
  
  .footer-links { 
    grid-area: footer-links;
    align-self: end; 
}

.footer-links a { 
    display: block;
margin-block-start: 1em;
margin-block-end: 1em;
}
  
  .footer-credits { 
   
    grid-area: footer-credits;
    align-self: end;
 }
  
  .footer-contact { 
    grid-area: footer-contact;
    align-self: end; 
  }
  
  .footer-copyright { 
    grid-area: footer-copyright; 
    padding-top: 10vh;
    text-align: center;
  }







  /*************SIDA NYA STUDENTER *************/


  .hero-img2 {
    display: grid; 
    grid-template-columns: auto; 
    grid-template-rows: auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "navlinks navlinks navlinks navlinks navlinks navlinks"
      ". hero-heading hero-heading hero-heading hero-heading ."; 
    grid-area: hero-img2; 
    background-image: url(/images/hero-nyastudenter.png);
    height: 50vh;
    width: 100vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
    color: white;
  }

  .container2 {  
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "hero-img2"
    "description"
    "sections"; 
  }


  .description, .sections {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
  }
  
  .description { 
      grid-area: description; 
    }

    .description h2 {
        color: black;
    }
  
  .sections {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "section1-img section1-txt"
      "section2-txt section2-img"
      "section3-img section3-txt"
      "section4-txt section4-img"
      "section5-img section5-txt";
    grid-area: sections;
  }
  
  .section1-img { grid-area: section1-img; }
  
  .section1-txt { grid-area: section1-txt; }
  
  .section2-txt { grid-area: section2-txt; }
  
  .section2-img { grid-area: section2-img; }
  
  .section3-img { grid-area: section3-img; }
  
  .section3-txt { grid-area: section3-txt; }
  
  .section4-txt { grid-area: section4-txt; }
  
  .section4-img { grid-area: section4-img; }
  
  .section5-img { grid-area: section5-img; }
  
  .section5-txt { grid-area: section5-txt; }
  
  